
body {
  margin:  0px;
  margin-top:  20px;
  margin-left: 20px;
  overflow-y: auto;
  padding: 10px ;
  background-color: #1E1F22;
  padding-bottom: 10px;
}

header {
  height: 87vh;
  width: 250px;
  background-color: #1A1C1F;
  text-align: center;
  padding: 8px;
  font-family: "Nunito",sans-serif;
  border-radius: 14px;
  border: 1px solid color-mix(in srgb,#ffffff , transparent 80%);
  position: fixed;
  
}
.container-social-media{
  display: flex;
  justify-content: space-evenly;
}

.social-media {
  width: 40px;
  height: 40px;
  background-color: color-mix(in srgb, #ffffff, transparent 85%);
  align-content: center;
  border-radius: 50%;
  text-align: center;
  color :#ffffff;
} 

.social-media:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 0.3s ease-in-out;
}

nav {
  text-align: left;
  margin-top: 0.5rem;
}
nav ul {
  margin: 0;
  padding:  0px 10px 0px;
}

nav ul li {
  margin-bottom: 1.9rem;
  list-style: none;

}
nav ul li a:hover
{
  text-decoration: none;
  color: #ECECEC96;
  margin-left: 8px;
  font-size: 16px;

}

nav ul li a {
  text-decoration: none;
  color: #ECECEC96;
  margin-left: 0.5rem;
  font-size: 16px;
  margin-right: 40%;
  gap: 10px;
  
}

nav ul li:hover{
    color: #ffffff,;
    
}
nav ul li a:focus{
    color: #ffffff,;
}
nav ul li i {
  font-size: 16px;
  font-style: italic;
  color: #ECECEC96;
}
 main {
  margin-left: 280px;
  padding: 10px;
}

.hero-section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
 
}
.container-hero{
  display: inline-flex;
  gap: 15px;
  
}
.section-vision{
  position: absolute;
  background-color: color-mix(in srgb, #ffffff, transparent 90%);
  left: 35%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.6;
  top: 250px;
}
.hero-text{
  width: 48%;
}
.hero-text h1  {
    position: relative;
    display: bold;
    font-size: 42px;
    font-family: "Ubuntu",sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
    margin:  0px 0px 15px;
    color: #ffffff;
    
}
.container-hero .hero-text h1 span{
  color: #ececec;
  font-weight: 600;
  border-bottom: 2px solid #ffffff;
}

.hero-text h2{
   font-size: 24px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "Roboto",sans-serif;
    margin:  0px 0px 10px;
    color:   #ffffff;

}

.hero-text h3{
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0px 0px 20px;
    color:  #ffffff;
    font-family: "Roboto",sans-serif;  
}
.container-hero .hero-text h3 span{
  color: #ececec;
  font-weight: 600;
  border-bottom: 2px solid #ffffff;
  margin-left: 5px;

}
 p {
    font-size: 16px;
    color:  #ECECEC96;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: "Roboto",sans-serif;
    margin:  0px 0px 40px;
  
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
  
}

.btn {
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 14px;
    gap: 20px;
  
}

.btn-light {
    background-color: white;
    color: black;
}

.btn-outline {
    border: 2px solid white;
    color: white;
}
.hero-social{
  display: flex;
  gap: 20px;
  
}
.hero-social a{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: color-mix(in srgb,  #ECECEC96, transparent 10%);
    font-size: 16px;
    border-radius: 50%;
    background: #232323;
    border: rgb(255, 255, 255,0.2);
    transition: all 0.3s ease; 
}
.hero-social a:hover {
    transform: translateY(-3px);
    color: #ffffff;
    
} 
.hero-image{
  width: 50%;
  height: 50%;
 
}
.hero-image img {
  width: 30%;
  height: 65%;
  position: absolute;
  top: 70px;
  left : 64%;
  border-radius: 30px;
} 
 
.hero-vision {
  position: absolute;
  top: 90px;       
  left: 65.7%;
  width: 30%;
  height: 65%;
  background-color: color-mix(in srgb, #ffffff, transparent 90%);
  border-radius: 30px;
  align-items: center;
  
}

.vision-bob{
  position: absolute;
  background-color: color-mix(in srgb, #ffffff, transparent 90%);
  width: 15%;
  height: 25%;
  border-radius: 50%;
  margin-left: 70px;
  top : 5%;

}
.bi-chevron-down{
  font-size: 12px;
  padding: 8px;
  color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 60%;
  background-color: color-mix(in srgb, #ffffff, transparent 90%);

}
.bi-chevron-down:hover{
  background-color: #ececec;
  color: #444444;
}
.all-container{
 display: flex;
 margin: 0;
 

}
.media-hero{
  width: 40%;
  height: 480px;
  background:#232323;
  border-radius: 2.5rem;
  justify-items: center;
  align-items: center;
  margin-top: 120px;
  margin: 25px;
  padding: 30px; 
 border-top: 3px solid #e6e2d9;

}
.media-divider{
  position: absolute;
  width: 165px;
  height: 165px;
  padding: 10px;
  
}
.media-img img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgba(255,255,255,0.2);
  background: #ececec;
}

.media-divider h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  margin-top: 30px;
  margin: 0px 0px  0px 8px;
  white-space: nowrap;
  color: #ececec;
}

.media-divider p {
  color: #ececec;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 15px;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
}

.info-media{
  background: rgb(255,255,255,0.07);
  padding: 12px;
  margin-left: auto;
  margin-bottom: 16px;
  color: #ececec;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.info-media{
  display: flex;
  width: 190px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.75rem;
  text-decoration: none;
  border: 1px solid;
  
}
.info-media i{
  margin: 0;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #ececec;
}
.info-media:hover{
  background-color: #e6e2d9;
  color: #1A1C1F;

}
.about-hero {
  width: 440px;
  height:800px;
  margin: 10px;
  
}
.hero-button{
  padding: 8px 20px;
  margin-top: 20px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Roboto", sans-serif;

}
.about-social {
  font-size: 22px;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  font-weight: 700;
  line-height: 2rem;

}
.social{
  font-size: 14px;
  line-height: 22px;
  color: #ececec;
  margin-bottom: 0;
  margin: 0px 0px 24px;
  font-family: "Roboto", sans-serif;
  gap: 20px; 
}
.social-about{
  font-size: 14px;
  line-height: 22px;
  color: #ececec;
  margin-bottom: 2rem;
  margin: 0px 0px 24px;
  font-family: "Roboto", sans-serif;
}
.hero-stat{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  max-width: 600px;
  border-radius: 20px;
  background-color: #232323;
  margin-bottom: 10px;
  padding:  20px; 
}
.hero-stat h3{
  font-size: 30px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #ececec;
  margin: 0px 0px 8px;
}
.hero-stat p{
  font-size: 14px;
  font-weight: 150px;
  font-family: "Roboto", sans-serif ;
  width: 75%;
  margin: 0px 0px 8px;
}
.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  position: relative;
  gap: 30px;
}
.info-item span {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 12px;
  font-weight: 500;
}
.info-item h3 {
  font-size: 12px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin: 0;
}
.about-buttons {
  display: flex;
  gap: 10px;
  margin-left: 13px;
}
.btn-lat {
  background: #e6e2d9;
  font-size: 12px;
  color: #111;
  padding: 20px 30px;
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  align-items: normal;
  font-weight: 600;
  gap: 20px;


}
.btn-lat:hover{
  background-color:#232323;
  color:#e6e2d9;
}
.btn-light i{
  color: #444444;
  padding: 15px;
}
.btn-dark {
  border: 2px solid #444444;
  font-size:16px ;
  font-family: "Roboto", sans-serif;
  padding:15px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.btn-dark i{
  color: #444444;
  padding: 10px;
}

.btn-dark:hover {
   background-color:#e6e2d9;
   color:#232323;

}
.stats-container{
background: #232323;
height: 200px;
width: 87%;
display: flex;
padding: 50px;
justify-content: center;
gap: 30px;
}
.stat-card{
  background: #2c2c2c;
  padding-left: 40px 30px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
  color: #ffffff;
}
.icon-stat{
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.icon-stat{
  width: 80%;
  height: 70px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 30px;
  display: block;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  background: #2c2c2c;
  margin-bottom: 10px;
  line-height: 1;
  font-family: "Ubuntu" sans-serif;
}
.meta-stat{
  background-color: rgb(255, 255, 255,0.2);
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  color: #ffffff;
}
.emoji-stat{
  background-color: color-mix(in srgb, #ff7e00, transparent 90%);
  color: #ff7e00;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;

}
.emoji-client{
  background-color: color-mix(in srgb, #00c875,transparent 90%);
  color: #00c875;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;

}
.client-stat{
  background-color: color-mix(in srgb, #e83e8c,transparent 90%);
  color: #e83e8c;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;

}
.stat-card p{
  font-size: 15.6px;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  font-weight: 500;
  color: #ececec;
}
.stat-card h2{
  font-size: 35px;
  font-family:"Ubuntu", sans-serif;
  margin: 0;
  font-weight: 500;
}
.bi-check-circle-fill{
  position: absolute;
  width: 20px;
  height: 15px;
  left: 125px;
  height: 15px;
  justify-content: center;
  margin-left: 50px;
  top:100px;
  margin-right: 40px;
  background: white;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #232323;
  margin: 10px;

}
.section-skills {
    padding: 80px 0;
    background: #1c1c1c;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-align: center;
    
}
.section-title {
    font-size: 32px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
}
.section-title::before,
.section-title::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40px;   
    height: 2px;
    background: #ffffff;
}
.section-title::before {
    right: 100%;
    margin-right: 15px;
}

.section-title::after {
    left: 100%;
    margin-left: 15px;
}
.intro-section {
    max-width: 600px;
    margin: 20px auto 60px;
    color: rgba(255,255,255,0.7);
    font-size: 15px;
}
.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 1100px;
    margin: auto;
    text-align: left;
    padding: 10px;
}
.skills-column {
    flex: 1;
    min-width: 300px;
    background: #232323;
    padding: 10px; 
}
.skills-heading {
    font-size: 22px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  
}
.skills-heading::after {
    content: "";
    width: 40px;
    height: 2px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.skill {
    margin-bottom: 35px;
}
.skill-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
  
}
.progress-bar{
    width: 100%;
    height: 6px;
    background: rgba(255,255,255,0.15);
    border-radius: 50px;
}
.progress {
    height: 100%;
    background: #ffffff;
    border-radius: 50px;
    
}
.resume {
    background: #1E1F22;
    color: #ffffff;
    padding: 100px 0;
    font-family: "Roboto", sans-serif;
    position: relative;
}
.resume h2, .resume h3, .resume h4 {
   font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}
.resume p {
    line-height: 1.7;
}
.resume-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    
}
.resume-header span {
    width: 60px;
    height: 2px;
    background: white;   
}
.resume-header h2 {
    margin: 0 20px;
    font-size: 34px;
    font-family: "Robota", sans-serif;
    color: #ffff;
    letter-spacing: 1px;
}
.resume-text {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 70px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #ffff;
}
.resume-container {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 60px;
    border: 3px solid slateblue;
    padding: 10px;
    
}
.profile-card img {
    display: block;
    width: 85%;
    height: 85%;
    background-color: #1c1c1c;
    margin-top: 30px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; 
    object-fit: cover;
    
 
}

.profile-card p {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;

}
.resume-left{
  background: #232323;
  font-size: 20px;
  
    

}
.resume-left h3  {
    font-size: 23px;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 20px;
    position: relative;
    
    
    
}
.contact-card p {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 12px;
    color: #ffff;
    display: flex;
    align-items: center;
    
}

.contact-card p:hover {
    color: #ffffff;
    border: #000000;
    
}
.contact h3 {
  font-size: 22px;
  margin-bottom: 12px;
  font-family: "Ubuntu", sans-serif;
  color: #ffff;
  
 
}
.contact p{
  font-size: 11.5px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin: 0px 0px 16px;

}
.contact i {
   color: #ffff;
    margin-right: 14px;
    font-size: 14px;
}
.skills{
    margin-bottom: 25px;
      
}
.skill-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
}
.fill-top {
    width: 100%;
    height: 6px;
    background: rgba(255,255,255,0.15);
    border-radius: 50px;
}
.progress-fill{
    height: 100%;
    background: #ffffff;
    border-radius: 50px; 
}
.resume-right {
    position: relative;
    font-size: 5px;
}
.resume-right h3{
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #ffff;
  margin: 0px 0px 24px;
}
.resume-right i{
  font-size: 20px;
  margin-right: 26px;
  margin: 10px;
}
.timeline-item h4{
  font-size: 11px ;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
}
.date{
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  margin: 0px 0px 8px;
  color: #ECECEC;
}
.timeline-item ul li{
  font-size: 11px;
  font-family: "Roboto", sans-serif;
  padding: 5px;
  margin-right: 60px;
  color: #ffff;

}
.timeline-item ul i{
  font-size: 11px;
  margin-right: 10px;
  color: #ffffff;
}

.timeline-item p{
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin: 0px 0px 16px;
}


.section-til {
    font-size: 24px;
    font-family: "Ubuntu", sans-serif;
    margin: 30px;
    padding: 10px;
    margin-left: 20px;
    font-weight: 700;
    position: relative;
}
.timeline-item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 40px;
    border-left: 2px solid #333;

}
.timeline-item:hover {
    border-left: 2px solid ;
}
.timeline-item::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 5px;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 50%;
  
}

.timeline-item h4 {
    margin: 0;
    font-size: 18px;
}

.date {
    color: #ffffff;
    font-size: 14px;
    display: block;
    margin: 6px 0;
}
.company {
    font-weight: 500;
    color: #bbbbbb;
    margin-bottom: 8px;
}

.timeline-item ul {
    padding-left: 18px;
    margin-top: 5px;
    color: #bbbbbb;
}

.timeline-item ul li {
    margin-bottom: 6px;
 }

.portfolio {
    background: #1E1F22;
    color: #ffffff;
    padding: 100px 0;
    font-family: "Roboto", sans-serif;
}
.portfolio-wrapper {
    width: 85%;
    margin: auto;
}
.portfolio-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  
}
.portfolio-header span {
    width: 60px;
    height: 2px;
    background: #ffffff;
 
}
.portfolio-header h2 {
    margin: 0 20px;
    font-size: 32px;
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}
.portfolio-text {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 70px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}
.portfolio-container {
    display: flex;
    gap: 60px;
}
.portfolio-sidebar {
    background: #18191C;
    padding: 30px;
    border-radius: 14px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.portfolio-sidebar button {
    background: transparent;
    border: none;
    color: #ffffff;
    text-align: left;
    padding: 12px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    
}
.portfolio-sidebar button:hover {
    background: #2a2a2a;
    background-color: #2a2a2a;
    color: #ffffff;
    transform: translateX(5px);
}
.portfolio-sidebar .active {
    background-color: #232323;
    color: #ffffff;
    font-weight: 600;
} 
.portfolio-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.portfolio-card {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background: #18191C; 
}
.portfolio-card img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
   
}
.portfolio-card::after {
    content: "";
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent); 
}
.services{
    background:#1e1f22;
    color:#ffff;
    padding:70px 0;
    font-family: "Roboto", sans-serif;
}
.services-header{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
}
.services-header span{
    width:40px;
    height:2px;
    background:#ffffff;
}
.services-header h2{
    font-size:28px;
    font-family: "Ubuntu", sans-serif;
    color: #ffffff;
    font-weight:600;
}

.services-subtitle{
    text-align:center;
    font-size:15px;
    margin-top:8px;
    font-family: "Roboto", sans-serif;
    color:#ffff;
}
.services-intro{
    width:92%;
    margin:50px auto;
    display:flex;
    justify-content:space-between;
    gap:30px;
}
.services-left h1{
    font-size:34px;
    font-family: "Ubuntu", sans-serif;
    color: #ECECEC;
    line-height:1.3;
}

.services-right{
    max-width:220px;
    padding: 0;
    
}
.services-right p{
    font-size:13px;
    font-family: "Roboto", sans-serif;
    color:#ffffffff;
    margin-bottom:20px;
}
.btn-services{
    display:inline-block;
    padding:8px 16px;
    background:#ECECEC;
    color: #310606;;
    text-decoration:none;
    font-size:14px;
    font-family: "Roboto", sans-serif;
    border-radius:3px;
}
.services-container{
    width:97%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    
}
.service-card{
    border:1px solid #555555;
    padding:25px;
  
}
.service-card:hover{
    background-color:#2a2a2a;
}
.icon{
    width: 60px;
    height: 60px;
    font-size:25px;
    display: inline-block;
    text-align: center;
    justify-content:center ;
    text-transform: none;
    line-height: 60px;
    border-radius: 15px;
    background-color:#2a2a2a;
    color: #ffffff;
    margin-bottom:12px;
}
.service-card h3{
    font-size:24px;
    font-family: "Ubuntu", sans-serif;
    color: #ffffff;
    margin-bottom:10px; 
}
.parametres p{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color:#ffffff;
    line-height:1.5;
    padding: 30px;
    
} 

.testimonials{
    background:#1f2023;
    padding:100px 0;
    color:#ffffff;
     
}

.testimonials-header{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    margin-bottom:10px;
}

.testimonials-header span{
    width:60px;
    height:2px;
    background:#ffffffff;
}

.testimonials-header h2{
    font-family: "Ubuntu", sans-serif;
    font-size:30px;
    color: #ffff;
    margin-bottom:10px;

}

.testimonials-subtitle{
    text-align:center;
    color:#ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-bottom:70px;
   
}

.testimonials-container{
    width:100%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px;
    align-items:start;
    

}

.testimonial-card{
    background:#2a2b2f;
    padding:28px;
    border-radius:16px;
    border:1px solid #3a3b3f;
    position:relative;
    
.quote{
    position:absolute;
    top:-15px;
    left:25px;
    background:#3a3b3f;
    width:42px;
    height:42px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
}

}
.testimonial-card p{
    color:#ddd;
    line-height:1.7;
    margin-bottom:25px;
    font-size:13px;
    font-family: "Roboto", sans-serif;
  
}
.testimonial-user{
    display:flex;
    align-items:center;
    gap:12px;
      
}
.testimonial-user img{
    width:40px;
    height:40px;
    border-radius:50%;
}
.Oracle-testimonial{
  padding:5px;
  margin: 20px 0;
  border-top: 1px solid #ffffffff;
  opacity: 0.2;

}
.testimonial-user h4{
    font-size:11px;
    font-family: "Ubuntu", sans-serif;
    margin:0px 0px 4px;
   
}

.testimonial-user span{
    font-size:10px;
    font-family: "Roboto", sans-serif;
    color:#aaaaaa;
  
}
.testimonial-card:nth-child(1){
    min-height:220px;
   
}

.testimonial-card:nth-child(2){
    min-height:290px;
    margin-top:60px;
   
}

.testimonial-card:nth-child(3){
    min-height:200px;
    margin-top:36px;

}

.testimonial-card:nth-child(4){
    min-height:200px;
}

.testimonial-card:nth-child(5){
    min-height:260px;
    margin-top:35px;
     
}

.testimonial-card:nth-child(6){
    min-height:200px;
    margin-top:20px;
  
}

.contact{
    background:#1f2023;   
}
.contact-hero span{
    width:60px;
    height:2px;
    background:#ffffff;
}

.contact-hero h2{
    font-size:34px; 
    font-family: "Ubintu", sans-serif;
    color:#ffffff;
}
.contact-text{
    text-align:center;
    color:#ccc;
    max-width:600px;
    margin:15px auto 60px auto;
}
section.contact .caracteres-contact{
    position: relative;
    text-align:center;
    color:#ffffff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin-bottom:70px;
    padding: 40px;
}
.contact-container{
    width:85%;
    margin:auto;
    display:flex;
    gap:40px;
}
.contact-info{
    background:#f5f5f5;
    padding:40px;
    border-radius:15px;
    width:55%;
    
}

.contact-info h2{
    font-size:30px;
    font-family: "Untubu", sans-serif;
    color: #310606;
    margin-bottom:10px;
   
}

.contact-info p{
    color:#310606;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-bottom:30px;
   
}

.info-ite{
    display:flex;
    gap:15px;
    margin-bottom:25px;
    
}

.icon-contact i{
    width:45px;
    height:45px;
    background:#e0e0e0;
    border-radius:50%;
    display:flex;
    color: #310606;
    align-items:center;
    justify-content:center;
    font-size:20px;
   
}
.info-ite h4{
    margin:0;
    font-size:18px;
    font-family: "Ubuntu", sans-serif;
    color: #310606;
    
}

.info-ite p{
    margin:3px 0;
    font-size:13.5px;
    font-family: "Roboto", sans-serif;
    
}
.contact-form{
    width:65%;
    color:#fff;
  
}
.contact-form h2{
    font-size:30px;
    font-family: "Ubuntu", sans-serif;
    color: #ffffff;
    margin-bottom:10px;
  
}
.contact-form p{
    margin-bottom:30px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color:#cccccc;  
}
.input-row{
    display:flex;
    gap:20px;
    color: white;  
}
.contact-form input,
.contact-form textarea{
    width:100%;
    padding:15px;
    margin-bottom:20px;
    border:none;
    border-radius:8px;
    background:#2a2b2f;
    color:#fff;  
}
.contact-form textarea{
    height:150px;
    resize:none;
}
.contact-form button{
    display: inline-flex;
    padding:15px 35px;
    border:none;
    border-radius:30px;
    background:#ffffff;
    color:#333333;
    font-weight:bold;
    cursor:pointer;
    margin-left: 40px;  
}
.footer-line{
    width:85%;
    height:1px;
    background:#ffffff;
    margin:40px auto;
    opacity:0.3;
    
}
.footer{
    text-align:center;
    color:#ffffffff;
    font-size:14px;
    padding-bottom:40px;
}
.footer p{
    margin:5px 0;
    font-family: "Roboto", sans-serif;
    font-size:12px ;
    color:#ffffff;

}

.scroll-top{
    position:fixed;
    right:20px;
    bottom:20px;
    width:40px;
    height:40px;
    background:#fff;
    color:#000;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    font-size:18px;
    
} 
.contact-hero{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}


 
